:root {
	--color-one: #c97741;
	--color-two: #ffd5a2;
	--color-three: #fff9da;
	--color-four: #ffb954;
	--color-five: #82130a;
	--color-six: #e52117;
	--color-seven: #c2bea7;
	--color-eight: #ffb9543f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	display: flex;
	/* align-items: center; */
	flex-direction: column;
}
nav {
	height: 60px;
	width: 100%;
	padding: 0 2rem;

	background: var(--color-five);

	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .logo a {
	color: var(--color-three);
	font-size: 1.7rem;
	text-decoration: none;
}
nav .links {
	margin-right: 1rem;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
nav .links a,
nav .user a {
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;

	font-size: 1.2rem;
	padding: 0 1rem;

	color: var(--color-three);
}
nav .user,
nav .user a {
	font-size: 1rem;
	padding: 0.5rem !important;
	color: var(--color-three);
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: rgba(0, 0, 0, 0);
	border: 0;
	outline: none; */
}
nav .links .active {
	font-size: 1.5rem !important;
	font-weight: bolder;
	color: var(--color-four) !important;
}

.hero {
	background-image: url("/public/images/hero.jpg");
	height: calc(100vh - 60px);
	background-position: center;

	position: relative;
	padding: 2rem;
	z-index: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.hero .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.hero .hero_text {
	color: var(--color-three) !important;
	text-decoration: none !important;
	z-index: 1;
	width: 70%;
	/* max-width: 1200px; */
	/* border: 2px solid red; */
}
.hero .hero_text .welcome {
	font-size: 1.9rem;
	font-weight: 700;
	margin: 0;
}
.hero .hero_text .storyapp {
	font-size: 6rem;
	font-weight: 700;
	margin: 1rem 0 2rem 0;
}
.hero .hero_text .quote {
	font-size: 2.5rem;
	font-weight: bolder;
}
.hero .hero_text .buttons {
	margin: 2rem 0;
	padding: 0.9rem 0;
}
.hero .hero_text .buttons a {
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--color-five) !important;
	background: var(--color-two);
	border-radius: 10px;
	/* height: 5rem; */
	padding: 0.9rem 2.5rem;
	margin: 0 2rem 0 0;

	text-transform: uppercase;
	text-decoration: none !important;
}

.fa-sort-down {
	position: absolute;
	font-size: 3rem;
	color: var(--color-three);
	/* fill: ; */

	left: 50%;
	top: 100%;
	transform: translate(-50%, -250%);
	animation: bounce 1.5s infinite;
}

.about-container {
	width: 100%;
	margin: 10rem 0;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-container h4,
.featured-story-container > h4 {
	text-transform: uppercase;
	margin: 0 0 2rem 0;
	font-size: 2rem;
	font-weight: lighter;
}

.about-container .about {
	width: 80%;
	max-width: 1000px;
	font-size: 1.5rem;
	font-weight: lighter;
	text-align: justify;
}

.featured-story-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 5rem;
}
.featured-story-container .card-container {
	transform: scale(0.95);
}
.featured-story-container .card-container:nth-of-type(2) {
	transform: scale(1.05);
}

.stories {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	max-width: 1000px;
}

.card-container {
	cursor: pointer;
	width: 300px;
	height: 500px;

	padding: 1rem;
	background: var(--color-one);
	border-radius: 20px;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	transition: 0.3s all ease-in-out;
}
.card-container:hover {
	transform: scale(1.1) !important;
	-webkit-box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.45);
}
.card-container .author {
	width: 100%;
	height: 20%;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 1rem;
	/* margin-bottom: 1rem; */

	/* border: 2px solid red; */
	border-radius: 10px;
	background: var(--color-three);
	-webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.45);
}

.card-container .author img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}
.card-container .author .info {
	flex: 1;
	padding-left: 1rem;
}

.card-container .author .info h5 {
	font-size: larger;
	text-transform: uppercase;
	color: var(--color-one);
	/* opacity: 0; */
}
.card-container .author .info h6 {
	font-size: 1rem;
	color: var(--color-five);
	/* opacity: 0; */
}

.card-container .story {
	margin: 1rem 0;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem 0rem;
}
.card-container .story h4 {
	text-transform: uppercase;
	/* margin: 0 0 2rem 0; */
	font-size: 2rem;
	font-weight: lighter;
	color: var(--color-three);
}
.card-container .story h6 {
	/* margin: 0 0 2rem 0; */
	font-size: 1rem;
	font-weight: lighter;
	color: var(--color-two);
}

.card-container .story .story-content {
	padding: 2rem 1rem 0;
	flex: 1;
	text-align: justify;
	opacity: 0.8;
	/* color: var(--color-five); */
}
.card-container .story .story-content a {
	opacity: 1;
	color: var(--color-three);
	font-size: large;
	font-weight: bold;
	/* color: var(--color-five); */
}

.card-container .controllers {
	width: 100%;
	height: 10%;
	/* border: 2px solid red; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.45);
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.45);
}
.card-container .controllers > * {
	flex-basis: 100%;
	height: 100%;
	cursor: pointer;
	border: 0;
	outline: 0;
	background: var(--color-three);
	color: var(--color-one);
	/* margin-top: 1rem; */

	/* border-radius: 20px 0 0 0; */
}
.card-container .controllers > *:hover {
	/* border-radius: 20px 0 0 0; */
	color: var(--color-six);
	background: var(--color-seven);
}
.card-container .controllers button {
	font-size: larger;
}
.card-container .controllers button:nth-of-type(1) {
	border-radius: 10px 0 0 10px;
	border-right: 2px solid var(--color-seven);
}

.card-container .controllers button:nth-of-type(3) {
	border-radius: 0 10px 10px 0;
	border-left: 2px solid var(--color-seven);
}

@keyframes bounce {
	0% {
		transform: translate(-50%, -250%);
	}

	50% {
		transform: translate(-50%, -150%);
	}
	100% {
		transform: translate(-50%, -250%);
	}
}
